*{
    font-family: 'Arial', sans-serif;
}

.row{
    width: 80%;
    margin: auto;
    text-align: center;
}

.item{
    /* width: 448px; */
    height: 769px;
    box-sizing: border-box;
    padding: 13px 10px 16px 10px; 
    display: inline-block;
    text-align: left;
}

.img_container{
    position: relative;
}

.img{
    width: 448px;
    height: 669px;
}

.heart{
    width: 49px;
    height: 50px;
    position: absolute;
    top: 29px;
    right: 0;
    background-color: white;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
}

.offer{
    width: 152px;
    height: 44px;
    color: white;
    box-sizing: border-box;
    padding-top: 10px;
    position: absolute;
    bottom: 16px;
    font-size: 12px;
}

.discount{
    width: 36.4px;
    height: 25px;
    background-color: #eb0037;
    padding: 4px 6px;
}

.sustainable{
    width: 84px;
    height: 25px;
    background-color: #00875a;
    padding: 4px 5px;
}

/* DIV INFO ----------------------- */

.info{
    width: 448px;
    height: 63px;
    margin-top: 8px;
}

.discouted_price{
    color: #eb0037;
}

.full_price{
    text-decoration: line-through;
}

/* HOVER --------------------------- */

.heart:hover{
    color: red;
}

#first:hover{
    content: url('img/1b.webp');
}

#second:hover{
    content: url('img/2b.webp');
}

#third:hover{
    content: url('img/3b.webp');
}

#fourth:hover{
    content: url('img/4b.webp');
}

#fifth:hover{
    content: url('img/5b.webp');
}

#sixth:hover{
    content: url('img/6b.webp');
}



